.cart {
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  position: absolute;
  height: 100%;
  width: 35%;
  background-color: #191506;
  animation: fadeInRight 0.4s var(--transition-bezier);
}

.cart__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 4.2rem;
  border-bottom: 1px solid #332a0c;
}

.cart__title {
  font-size: 3.6rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: var(--color-light);
}

.cart__items {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 2.4rem;
  padding: 3rem 4.2rem 0 4.2rem;
}

.cart__empty {
  /* background-color: var(--primary-color); */
  padding: 3rem 4.2rem;
  text-align: center;
  color: #4c4012;
  font-size: 2.4rem;
  letter-spacing: 0.5px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: auto;

  animation: fadeIn 0.4s var(--transition-bezier);
}
