.product__buttons {
  display: flex;
  gap: 1.2rem;

  animation: fadeInLeft 0.6s var(--transition-bezier);
}

.product__button--add {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 0.8rem 4.2rem;
  background-color: var(--primary-color);
  color: var(--color-dark);
  border: none;
  text-transform: uppercase;
  transition: all 0.4s var(--transition-bezier);
}

.product__button--add:hover {
  cursor: pointer;
  background-color: #806a1e;
  color: var(--color-light);
}
